/* your styles go here */
/* Landing Page */
#sign-up{
  color: white
}

#sign-up span {
  background-color: rgb(13, 109, 192);

}

#welcome{
  margin-left: 80px;
}

#novel{
  margin-bottom: 70px;
  margin-top: -70px;
}
